.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.holder {
  margin-top: 30px;
}
.list {
  margin: 0 10px 0 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.list-item {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 5px;
}
.highlight {
  color: white;
  background-color: blue;
}
.image-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0 10px 0 0;
  border-radius: 5px;
}
.image-title {
  width: 220px;
  font-size: 16px;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.image-holder {
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
}
.image {
  width: min(600px, calc(100vw - 340px));
  height: calc(1.5 * min(600px, calc(100vw - 340px)));
  object-fit: cover;
  border-radius: 10px;
}
.title {
  border: none;
  height: 30px;
  font-size: 18px;
  margin: 10px 0 0 0;
  text-align: center;
}
